In [31]:
from datetime import datetime
import pandas as pd
import numpy as np

# Load the receipts data from an Excel file
receipts = pd.read_excel('receipts.xlsx')

# Load Polish first names from an Excel file
first_names = pd.read_excel('clients_data.xlsx', usecols=['first_name'])

# Define a list of new columns
new_columns = ['IDIndividual', 'Firstname', 'Sex', 'age', 'Time_of_creation in milliseconds', 'Created email']

# Generate new client data for each unique "Rachunek" value
client_data = pd.DataFrame(columns=new_columns)

# Dictionary to store generated clients' data for each unique "Rachunek"
generated_clients_dict = {}

# Function to generate a unique Polish name for each client
def generate_unique_name():
    name = np.random.choice(first_names['first_name'])
    while name in generated_clients_dict.values():
        name = np.random.choice(first_names['first_name'])
    return name

# Generate age probabilities based on the size of the age groups
age_groups = list(range(18, 81))
age_probabilities = [0.05] * len(age_groups)
age_probabilities = np.array(age_probabilities) / np.sum(age_probabilities)  # Normalize the probabilities

# Input the server name
server_name = input('Enter the server name: ')

for index, row in receipts.iterrows():
    rachunek = row['Rachunek']

    # Check if the current 'Rachunek' already exists in the generated_clients_dict
    if rachunek not in generated_clients_dict:
        # Generate unique client data
        klient = generate_unique_name()
        age = np.random.choice(age_groups, p=age_probabilities)

        # Determine the sex based on the name ending
        sex = 'female' if klient[-1] == 'a' else np.random.choice(['male', 'female', 'other'], p=[0.4, 0.4, 0.2])

        # Combine the date and time information to create the 'Time_of_creation' in milliseconds
        data_str = row['Data'].strftime('%Y%m%d')
        otw_str = row['Otw'].strftime('%H%M%S')
        zam_str = row['Zam'].strftime('%H%M%S')
        time_of_creation = f'{data_str}{otw_str}{zam_str}'

        email = f'{klient}{age}{time_of_creation}{server_name}.com'


        # Add the generated client data to the dictionary
        generated_clients_dict[rachunek] = {
            'IDIndividual': np.random.randint(1, 100000),
            'Firstname': klient,
            'Sex': sex,
            'age': age,
            'Time_of_creation in milliseconds': time_of_creation,
            'Created email': email
        }

    # Update the corresponding row in the receipts DataFrame with the generated client data
    receipts.at[index, 'IDIndividual'] = generated_clients_dict[rachunek]['IDIndividual']
    receipts.at[index, 'Firstname'] = generated_clients_dict[rachunek]['Firstname']
    receipts.at[index, 'Sex'] = generated_clients_dict[rachunek]['Sex']
    receipts.at[index, 'age'] = generated_clients_dict[rachunek]['age']
    receipts.at[index, 'Time_of_creation in milliseconds'] = generated_clients_dict[rachunek]['Time_of_creation in milliseconds']
    receipts.at[index, 'Created email'] = generated_clients_dict[rachunek]['Created email']

# Print the updated receipts DataFrame
print(receipts)

# Create a new DataFrame with the desired columns
clients_profile_dataset = receipts[['IDIndividual', 'Firstname', 'Sex', 'age', 'Time_of_creation in milliseconds', 'Created email']].copy()

# Print the new dataset with the client profiles
print(clients_profile_dataset)

Enter the server name: @cubecloud.eu
                     Data  POS                     Otw  \
0     2022-12-31 00:31:50  POS 2022-12-31 18:33:06.790
1     2022-12-31 00:31:50  POS 2022-12-31 18:33:06.790
2     2022-12-31 00:31:50  POS 2022-12-31 18:33:06.790
3     2022-12-31 00:31:50  POS 2022-12-31 18:33:06.790
4     2022-12-31 00:31:50  POS 2022-12-31 18:33:06.790
...                   ...  ...                     ...
15138 2023-01-01 14:17:36  POS 2023-01-01 13:00:34.980
15139 2023-01-01 14:17:36  POS 2023-01-01 13:00:34.980
15140 2023-01-01 14:17:36  POS 2023-01-01 13:00:34.980
15141 2023-01-01 14:17:36  POS 2023-01-01 13:00:34.980
15142 2023-01-01 14:17:36  POS 2023-01-01 13:00:34.980

                          Zam  Rachunek Numer zam Klient Otwierający  \
0     2023-01-01 00:31:50.470      6935    17/8/S    NaN       Marta
1     2023-01-01 00:31:50.470      6935    17/8/S    NaN       Marta
2     2023-01-01 00:31:50.470      6935    17/8/S    NaN       Marta
3     2023-01-01 00:31:50.470      6935    17/8/S    NaN       Marta
4     2023-01-01 00:31:50.470      6935    17/8/S    NaN       Marta
...                       ...       ...       ...    ...         ...
15138 2023-01-01 14:17:36.830         1     1/7/S    NaN       Marta
15139 2023-01-01 14:17:36.830         1     1/7/S    NaN       Marta
15140 2023-01-01 14:17:36.830         1     1/7/S    NaN       Marta
15141 2023-01-01 14:17:36.830         1     1/7/S    NaN       Marta
15142 2023-01-01 14:17:36.830         1     1/7/S    NaN       Marta

      Zamykający  Wartość bez rab.  ...  Symbol  Cena brutto  Cena netto  VAT  \
0          Marta             308.0  ...     NaN        308.0      285.19   8%
1          Marta              70.0  ...     NaN         14.0       11.38  23%
2          Marta              57.0  ...     NaN         19.0       15.45  23%
3          Marta            2300.0  ...     NaN        115.0      106.48   8%
4          Marta              35.0  ...     NaN         35.0       32.41   8%
...          ...               ...  ...     ...          ...         ...  ...
15138      Marta              25.0  ...     NaN         25.0       23.15   8%
15139      Marta              10.0  ...     NaN         10.0        9.26   8%
15140      Marta              19.0  ...     NaN         19.0       15.45  23%
15141      Marta              26.0  ...     NaN         13.0       10.57  23%
15142      Marta             198.0  ...     NaN         99.0       91.67   8%

      IDIndividual Firstname     Sex   age  Time_of_creation in milliseconds  \
0          59043.0     Zofia  female  18.0              20221231183306003150
1          59043.0     Zofia  female  18.0              20221231183306003150
2          59043.0     Zofia  female  18.0              20221231183306003150
3          59043.0     Zofia  female  18.0              20221231183306003150
4          59043.0     Zofia  female  18.0              20221231183306003150
...            ...       ...     ...   ...                               ...
15138      87005.0   Marlena  female  79.0              20230101130034141736
15139      87005.0   Marlena  female  79.0              20230101130034141736
15140      87005.0   Marlena  female  79.0              20230101130034141736
15141      87005.0   Marlena  female  79.0              20230101130034141736
15142      87005.0   Marlena  female  79.0              20230101130034141736

                                        Created email
0        Zofia1820221231183306003150@cubecloud.eu.com
1        Zofia1820221231183306003150@cubecloud.eu.com
2        Zofia1820221231183306003150@cubecloud.eu.com
3        Zofia1820221231183306003150@cubecloud.eu.com
4        Zofia1820221231183306003150@cubecloud.eu.com
...                                               ...
15138  Marlena7920230101130034141736@cubecloud.eu.com
15139  Marlena7920230101130034141736@cubecloud.eu.com
15140  Marlena7920230101130034141736@cubecloud.eu.com
15141  Marlena7920230101130034141736@cubecloud.eu.com
15142  Marlena7920230101130034141736@cubecloud.eu.com

[15143 rows x 26 columns]
       IDIndividual Firstname     Sex   age Time_of_creation in milliseconds  \
0           59043.0     Zofia  female  18.0             20221231183306003150
1           59043.0     Zofia  female  18.0             20221231183306003150
2           59043.0     Zofia  female  18.0             20221231183306003150
3           59043.0     Zofia  female  18.0             20221231183306003150
4           59043.0     Zofia  female  18.0             20221231183306003150
...             ...       ...     ...   ...                              ...
15138       87005.0   Marlena  female  79.0             20230101130034141736
15139       87005.0   Marlena  female  79.0             20230101130034141736
15140       87005.0   Marlena  female  79.0             20230101130034141736
15141       87005.0   Marlena  female  79.0             20230101130034141736
15142       87005.0   Marlena  female  79.0             20230101130034141736

                                        Created email
0        Zofia1820221231183306003150@cubecloud.eu.com
1        Zofia1820221231183306003150@cubecloud.eu.com
2        Zofia1820221231183306003150@cubecloud.eu.com
3        Zofia1820221231183306003150@cubecloud.eu.com
4        Zofia1820221231183306003150@cubecloud.eu.com
...                                               ...
15138  Marlena7920230101130034141736@cubecloud.eu.com
15139  Marlena7920230101130034141736@cubecloud.eu.com
15140  Marlena7920230101130034141736@cubecloud.eu.com
15141  Marlena7920230101130034141736@cubecloud.eu.com
15142  Marlena7920230101130034141736@cubecloud.eu.com

[15143 rows x 6 columns]

In [32]:
print(clients_profile_dataset.head(50))

    IDIndividual  Firstname     Sex   age Time_of_creation in milliseconds  \
0        59043.0      Zofia  female  18.0             20221231183306003150
1        59043.0      Zofia  female  18.0             20221231183306003150
2        59043.0      Zofia  female  18.0             20221231183306003150
3        59043.0      Zofia  female  18.0             20221231183306003150
4        59043.0      Zofia  female  18.0             20221231183306003150
5        59043.0      Zofia  female  18.0             20221231183306003150
6        59043.0      Zofia  female  18.0             20221231183306003150
7        59043.0      Zofia  female  18.0             20221231183306003150
8        42992.0  Warcislaw  female  55.0             20221231002813002922
9        42992.0  Warcislaw  female  55.0             20221231002813002922
10       42992.0  Warcislaw  female  55.0             20221231002813002922
11       42992.0  Warcislaw  female  55.0             20221231002813002922
12       42992.0  Warcislaw  female  55.0             20221231002813002922
13       42992.0  Warcislaw  female  55.0             20221231002813002922
14       45650.0  Zdzislawa  female  57.0             20221231002337002426
15       45650.0  Zdzislawa  female  57.0             20221231002337002426
16       45650.0  Zdzislawa  female  57.0             20221231002337002426
17       45650.0  Zdzislawa  female  57.0             20221231002337002426
18       45650.0  Zdzislawa  female  57.0             20221231002337002426
19         196.0    Malwina  female  41.0             20221231002231002312
20         196.0    Malwina  female  41.0             20221231002231002312
21         196.0    Malwina  female  41.0             20221231002231002312
22         196.0    Malwina  female  41.0             20221231002231002312
23         196.0    Malwina  female  41.0             20221231002231002312
24         196.0    Malwina  female  41.0             20221231002231002312
25         196.0    Malwina  female  41.0             20221231002231002312
26         196.0    Malwina  female  41.0             20221231002231002312
27         196.0    Malwina  female  41.0             20221231002231002312
28       79963.0      Iwona  female  39.0             20221231001825001932
29       79963.0      Iwona  female  39.0             20221231001825001932
30       79963.0      Iwona  female  39.0             20221231001825001932
31       79963.0      Iwona  female  39.0             20221231001825001932
32       79963.0      Iwona  female  39.0             20221231001825001932
33       79963.0      Iwona  female  39.0             20221231001825001932
34       90112.0    Radowit   other  80.0             20221231232041235240
35       90112.0    Radowit   other  80.0             20221231232041235240
36       75688.0      Zofia  female  69.0             20221231230839230847
37       59470.0   Jaroslaw  female  66.0             20221231225651230838
38       59470.0   Jaroslaw  female  66.0             20221231225651230838
39       51321.0      Jakub    male  51.0             20221231220041230821
40       51321.0      Jakub    male  51.0             20221231220041230821
41       51321.0      Jakub    male  51.0             20221231220041230821
42       51321.0      Jakub    male  51.0             20221231220041230821
43       51321.0      Jakub    male  51.0             20221231220041230821
44       17794.0     Patryk  female  45.0             20221231203925230634
45       17794.0     Patryk  female  45.0             20221231203925230634
46       17794.0     Patryk  female  45.0             20221231203925230634
47       17794.0     Patryk  female  45.0             20221231203925230634
48       17794.0     Patryk  female  45.0             20221231203925230634
49       17794.0     Patryk  female  45.0             20221231203925230634

                                       Created email
0       Zofia1820221231183306003150@cubecloud.eu.com
1       Zofia1820221231183306003150@cubecloud.eu.com
2       Zofia1820221231183306003150@cubecloud.eu.com
3       Zofia1820221231183306003150@cubecloud.eu.com
4       Zofia1820221231183306003150@cubecloud.eu.com
5       Zofia1820221231183306003150@cubecloud.eu.com
6       Zofia1820221231183306003150@cubecloud.eu.com
7       Zofia1820221231183306003150@cubecloud.eu.com
8   Warcislaw5520221231002813002922@cubecloud.eu.com
9   Warcislaw5520221231002813002922@cubecloud.eu.com
10  Warcislaw5520221231002813002922@cubecloud.eu.com
11  Warcislaw5520221231002813002922@cubecloud.eu.com
12  Warcislaw5520221231002813002922@cubecloud.eu.com
13  Warcislaw5520221231002813002922@cubecloud.eu.com
14  Zdzislawa5720221231002337002426@cubecloud.eu.com
15  Zdzislawa5720221231002337002426@cubecloud.eu.com
16  Zdzislawa5720221231002337002426@cubecloud.eu.com
17  Zdzislawa5720221231002337002426@cubecloud.eu.com
18  Zdzislawa5720221231002337002426@cubecloud.eu.com
19    Malwina4120221231002231002312@cubecloud.eu.com
20    Malwina4120221231002231002312@cubecloud.eu.com
21    Malwina4120221231002231002312@cubecloud.eu.com
22    Malwina4120221231002231002312@cubecloud.eu.com
23    Malwina4120221231002231002312@cubecloud.eu.com
24    Malwina4120221231002231002312@cubecloud.eu.com
25    Malwina4120221231002231002312@cubecloud.eu.com
26    Malwina4120221231002231002312@cubecloud.eu.com
27    Malwina4120221231002231002312@cubecloud.eu.com
28      Iwona3920221231001825001932@cubecloud.eu.com
29      Iwona3920221231001825001932@cubecloud.eu.com
30      Iwona3920221231001825001932@cubecloud.eu.com
31      Iwona3920221231001825001932@cubecloud.eu.com
32      Iwona3920221231001825001932@cubecloud.eu.com
33      Iwona3920221231001825001932@cubecloud.eu.com
34    Radowit8020221231232041235240@cubecloud.eu.com
35    Radowit8020221231232041235240@cubecloud.eu.com
36      Zofia6920221231230839230847@cubecloud.eu.com
37   Jaroslaw6620221231225651230838@cubecloud.eu.com
38   Jaroslaw6620221231225651230838@cubecloud.eu.com
39      Jakub5120221231220041230821@cubecloud.eu.com
40      Jakub5120221231220041230821@cubecloud.eu.com
41      Jakub5120221231220041230821@cubecloud.eu.com
42      Jakub5120221231220041230821@cubecloud.eu.com
43      Jakub5120221231220041230821@cubecloud.eu.com
44     Patryk4520221231203925230634@cubecloud.eu.com
45     Patryk4520221231203925230634@cubecloud.eu.com
46     Patryk4520221231203925230634@cubecloud.eu.com
47     Patryk4520221231203925230634@cubecloud.eu.com
48     Patryk4520221231203925230634@cubecloud.eu.com
49     Patryk4520221231203925230634@cubecloud.eu.com

In [33]:
# writing to Excel
datatoexcel = pd.ExcelWriter('clients_profile_dataset.xlsx')

# write DataFrame to excel
clients_profile_dataset.to_excel(datatoexcel)

# save the excel
datatoexcel.save()
print('DataFrame is written to Excel File successfully.')

<ipython-input-33-33eb53f101e8>:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  datatoexcel.save()

DataFrame is written to Excel File successfully.